	      * {
	          padding: 0px;
	          margin: 0px;
	          box-sizing: border-box;
	      }
	      
	      .imageSize {
	          max-width: 240px;
	          max-height: 135px;
	      }
	      
	      .nav-container {
	          height: 4em;
	          display: flex;
	          align-items: center;
	          padding: 10px;
	          box-shadow: 2px 1px 6px grey;
	      }
	      
	      .nav-list {
	          display: flex;
	          list-style: none;
	          align-items: center;
	          width: 100%;
	      }
	      
	      .nav-item-3 {
	          flex: 1;
	      }
	      
	      form {
	          width: 100%;
	          display: flex;
	      }
	      
	      .search-input {
	          flex: 1;
	      }
	      
	      .search-btn {
	          width: 10%;
	      }
	      
	      .nav-menu {
	          display: none;
	      }
	      
	      .nav-item {
	          line-height: 1.2;
	          margin-right: 20px;
	          display: inline-block;
	          min-width: fit-content;
	      }
	      
	      .nav-item-2 a {
	          text-decoration: none;
	          color: black;
	      }
	      
	      .btn-outline {
	          font-size: 0.85em;
	          font-weight: bold;
	          border: 1px solid black;
	          color: black !important;
	          padding: 0.7em 0.85em;
	          background-color: white;
	      }
	      
	      .btn-outline:hover {
	          cursor: pointer;
	      }
	      
	      form {
	          display: felx;
	          justify-content: center;
	          align-items: center;
	      }
	      
	      .search-input {
	          border: none;
	          outline: none;
	          padding: 15px;
	          border: 1px solid black;
	          border-radius: 80px;
	          margin-right: 10px;
	      }
	      
	      .search-btn {
	          padding: 10px;
	          width: 100px;
	      }
	      
	      .btn {
	          font-size: 0.85em;
	          font-weight: bold;
	          border: 1px solid black;
	          background-color: black;
	          color: white !important;
	          padding: 0.7em 0.85em;
	      }
	      
	      .nav-item-2 a:visited {
	          text-decoration: none;
	          color: black;
	      }
	      
	      .nav-item-2 a:hover {
	          color: purple;
	      }
	      
	      li img {
	          display: block;
	      }
	      
	      .lang {
	          border: 1px solid black;
	          padding: 7.5px;
	      }
	      
	      .nav-menu {
	          display: none;
	      }
	      
	      .header-container {
	          margin: 10px auto;
	          width: fit-content;
	          position: relative;
	      }
	      
	      .header-container img {
	          width: 100%;
	      }
	      
	      .header-container .card {
	          position: absolute;
	          top: 100px;
	          left: 100px;
	          padding: 20px;
	          box-shadow: 3px 6px 14px grey;
	          background-color: white;
	      }
	      
	      main section {
	          width: fit-content;
	          margin: auto;
	          padding: 15px;
	      }
	      
	      ul {
	          list-style: none;
	          display: flex;
	          flex-wrap: wrap;
	      }
	      
	      section h2 {
	          margin-bottom: 10px;
	      }
	      
	      .course-bar {
	          margin-top: 15px;
	      }
	      
	      .course-bar-item {
	          margin-right: 15px;
	          color: #6a6f73;
	          min-width: fit-content;
	      }
	      
	      .course-bar-item-active {
	          color: black;
	      }
	      
	      .course-container {
	          border: 1px solid grey;
	          margin-top: 10px;
	          padding: 10px;
	          max-width: 1300px;
	      }
	      
	      @media only screen and (max-width: 1055px) {
	          .nav-menu {
	              display: block;
	              order: 1;
	          }
	          .nav-logo {
	              order: 2;
	          }
	          .nav-list {
	              display: none;
	          }
	          .nav-container {
	              justify-content: space-between;
	          }
	      }
	      
	      .paragraph {
	          max-width: 60%;
	      }
	      
	      .course-item {
	          margin-bottom: 10px;
	      }
	      
	      .course-title {
	          max-width: 240px;
	      }
	      
	      .course-author {
	          max-width: 240px;
	          color: grey;
	      }
	      
	      .course-detail {
	          margin-bottom: 7px;
	      }
	      
	      .course {
	          margin-right: 10px;
	          margin-bottom: 10px;
	      }
	      
	      .courses-container {
	          width: 100%;
	          display: flex;
	          flex-wrap: wrap;
	      }
	      
	      .rating {
	          color: #b4690e;
	      }
	      
	      @media only screen and (max-width: 680px) {
	          .header-container .card {
	              box-shadow: none;
	              background-color: white;
	              position: initial;
	          }
	          section {
	              padding: 0px;
	              width: fit-content !important;
	              margin: 0px 0px;
	          }
	      }